<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<header>
	<h1>Main Index Page</h1>
<nav>
 	<ul>
 		<li>
 			<a href="/members">Members Index</a>

 		</li>
 			<li>
 			<!-- other links -->
 			</li>
 	</ul>
 </nav>
</header>
	
</body>
</html>