<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
<header>
	<h1>Main Index Page</h1>
<nav>
 	<ul>
 		<li>
 			<a href="/session/register">Register</a>
 		</li>
 		<li>
 			<a href="/session/login">Login</a>
 		</li>
 		<li>
 			<a href="/members">Members Index</a>
 		</li>
 			<li>
 			<a href="/posts">Posts Index</a>
 			</li>
 			<li>
 				<a href="session/logout">Logout</a>
 			</li>
 	</ul>
 </nav>
</header>
	
</body>
</html>