body{
	background-color: black;
}

h1 {
	text-align: center;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

a {
	color: skyblue;
}

form {
	margin: 0 auto;
/*	max-width: 70%;*/
}

#logo {
	color: white;
	font-size: 2em;
	padding: 0px 10px;
}

main {
	margin-top: 5%;
	text-align: center;
}


#main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	border-radius: 7px;
	background-color: black;
	margin: 10px 10px 5px 10px;
}

body {
	color: white;
	font-family: 'Merriweather', serif;
}

input, select, textarea{
	color: black;
}

button {
	border-radius: 4px;
	background-color: #313131;
	color: white;
}

#lesswidth {
	border: none;
	color: skyblue;
	background-color: red;
	margin: 0 auto;
	width: 6%;
}
#log {
	display: block;
	text-align: center;
	margin: 0 auto;
}