<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
	<header>
	<h1>Posts Index Page</h1>
		<ul>
		<nav>
		<li>
		<a href="/">Home</a>
		</li>
		<li>
		<a href="/posts/new">Create a new Post</a>
		</li>
		<li>
 				<a href="session/logout">Logout</a>
 			</li>
		</ul>
		</nav>
		</header>
		<main>
		<h2>List of Posts</h2>
		<% for (let i = 0; i < posts.length; i++) {%>
		Post: <a href="/posts/<%=posts[i]._id%>"><%= posts[i].descr %></a> <br/>
		<%}%>
		</main>
</body>
</html>