<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
	<header>
	<h1>Posts Index Page</h1>
		<nav class="navbar navbar-default">
<div class="container-fluid">
 	<ul class="nav navbar-nav">
		<li>
		<a href="/">Home</a>
		</li>
		<li>
		<a href="/posts/new">Create a new Post</a>
		</li>
		<li>
		<a href="/members">Members Index</a>
		</li>
		<li>
 				<a href="session/logout">Logout</a>
 			</li>
		</ul>
		</div>
		</nav>
		</header>
		<main>
		<h2>List of Posts</h2>
		<% for (let i = 0; i < posts.length; i++) {%>
		<a href="/posts/<%=posts[i]._id%>"><%= posts[i].title %></a> <br/>
		<%}%>
		</main>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>