<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
	<h1>New Post Page</h1>

	<form action='/posts' method="POST">
		Description: <input type="text" name="descr">
		Image: <input type="text" name="img">
		<input type="submit" value="Create Post">
	</form>
</body>
</html>