<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
	<h1>New Post Page</h1>
<nav class="navbar navbar-default">
<div class="container-fluid">
 	<ul class="nav navbar-nav">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/posts">Post Index</a>
			</li>
			<li>
 				<a href="session/logout">Logout</a>
 			</li>
		</ul>
	</div>
	</nav>
	<form id="newPost" action='/posts' method="POST">
	<div class ="form-group">
	Post Author:
	<select class="form-control" name="memberId">
			<% for (let i = 0; i < members.length; i++) {%>
			<option value='<%=members[i]._id%>'> <%=members[i].username%></option>
			<%}%> </select> <br/>
		Title: <input class="form-control" type="text" name="title"> <br/>
		Description: <input class="form-control" type="text" name="descr"> <br/>
		Image: <input class="form-control" type="text" name="img"> <br/>
		Category: <input class="form-control" type="text" name="category"> <br/>
		Youtube Demo: <input class="form-control" type="text" name="sound"> <br/>
		<input id="createPost" class="form-control" type="submit" value="Create Post">
	</div>
	</form>
	<footer>
	<div id="footer">
	<a target="_blank" href="https://github.com/justin-ellis" class="fa fa-github"></a>
	<a target="_blank" href="https://www.facebook.com/justin.ellis.5876060" class="fa fa-facebook"></a>
<a target="_blank" href="https://twitter.com/jellishouse" class="fa fa-twitter"></a></div>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>